@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.wrapper {
  width: 100%;

  .container {
    padding: 72px 127px 31px 127px;
    background: linear-gradient(to right, $WHITE 50%, transparent 50% 85%, $WHITE 15%);
    display: inline-flex;
    align-items: center;
    gap: 8%;
    @include lg {
      padding: 36px 47px 20px 47px;
    }
    @include media(800px) {
      background: unset;
      flex-direction: column-reverse;
    }
    @include media(600px) {
      padding: 20px;
    }

    .title {
      position: absolute;
      top: 126px;
    }

    .content {
      display: flex;
      align-self: flex-start;
      flex: 0 0 38%;
      margin-top: 90px;
      @include md {
        margin-top: 70px;
      }
      @include media(800px) {
        margin-top: 20px;
      }

      &_text {
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 153.4%;
        color: $PRIMARY;
        @include lg {
          font-size: 22px;
        }
        @include md {
          font-size: 20px;
        }
        @include sm {
          font-size: 18px;
        }
        @include xs {
          font-size: 16px;
        }
      }
    }
  }

  img {
    flex-basis: calc(62% - 5px);
    width: 50%;
    height: auto;
    @include media(800px) {
      margin-top: 80px;
      width: 100%;
      flex-basis: unset;
    }
  }
}
