$PRIMARY: #0b1b32;
$SECONDARY: #ffb300;
$WHITE: #ffffff;
$BLACK: #0b1b32;
$DARK_PRIMARY: #011128;

$MAX_CONTENT_WIDTH: 1664px;

$FULL_SCREEN_WIDTH: 1920px;
$TABLET_MAX_WIDTH: 992px;
$MOBILE_MAX_WIDTH: 620px;
$HEADER_HEIGHT: 75px;
